h1, h2, h3, h6, body{
    font-family: 'Montserrat', sans-serif;
}

body{
    padding: 20px;
    overflow:scroll;
}

.hidden,
.additional_parameters,
#parameters_list{
    display: none;
}

.visible{
    display: block;
}

.button.hollow.success:hover {
    border-color: #157539;
    color: white;
    background: #157539;
}

#parameters_list ul{
    margin-left: 0px;
}

#parameters_list li{
    cursor: pointer;
    list-style-type: none;
}

#parameters_list li:hover{
    color: orange;
    font-weight: bold;
}

#upload{
    margin-top: 25px;   
}

#error_message{
    font-weight: bold;
    color: #cc4b37;
}

/*
.myChartDiv {
  max-width: 900px;
  max-height: 300px;
}*/
