<h3> Dokładność uczenia {{score_result}} </h3>
<input id="parameters" type="hidden" value="{{class_names}}">
<input id="values" type="hidden" value="{{probes}}">
<input type="hidden" id = "forecast_code" value = {{code}}>

<div class="myChartDiv">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script>
    function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }    
    if($('#forecast_code').val() === '0'){
        //Pobierz dane z kontrolera i przygotuj do wyświetlenia na wykresie//
        var parameters = $('#parameters').val().split(',')
        var values = $('#values').val().split(',')
        values = JSON.parse(values);
        size = values[0].proba.length;
        var probes = []
        for(i = 0; i < size; i++){
            probes[i] = [];
        }
        values.forEach(function(item, key){
            item.proba.forEach(function(proba_item, proba_key){
                probes[proba_key].push(proba_item)    
            })
        })
        var objects = [];
        //Obiekt ze wszystkimi prawdopodobieństwami posortowanymi po klasach - tworzone tutaj będą obiekty wykresu dla kolejnych klas//
        probes.forEach(function(item, key){
            var tmp_object = {
                label: 'Klasa '+key,
                backgroundColor: getRandomColor(),
                data: item,
                borderWidth: 0,
                yAxisID: "y-axis-density"
            }
            objects.push(tmp_object);
        })


        //====================== WYKRES =============================//

        var labels_array = [];
        var probes_length = objects[0].data.length;
        for(i = 0; i < probes_length; i++){
            labels_array.push('Próbka '+(i+1));
        }
        var chart_values = {
          labels: labels_array,
          datasets: objects
        };    

        var chart_options = {
          scales: {
            xAxes: [{
              barPercentage: 1,
              categoryPercentage: 0.6
            }],
            yAxes: [{
              id: "y-axis-density"
            }, {
              id: "y-axis-gravity"
            }]
          },
            plugins: {
                zoom: {
                    // Container for pan options
                    pan: {
                        // Boolean to enable panning
                        enabled: true,

                        // Panning directions. Remove the appropriate direction to disable 
                        // Eg. 'y' would only allow panning in the y direction
                        mode: 'xy'
                    },

                    // Container for zoom options
                    zoom: {
                        // Boolean to enable zooming
                        enabled: true,

                        // Zooming directions. Remove the appropriate direction to disable 
                        // Eg. 'y' would only allow zooming in the y direction
                        mode: 'xy',
                    }
                }
            }        
        };

        var ctx = document.getElementById('myChart').getContext('2d');
        var barChart = new Chart(ctx, {
          type: 'bar',
          data: chart_values,
          options: chart_options
        });

    }
</script>